@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

*::-webkit-scrollbar {
    display: none;
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

textarea {
    outline: none;
    resize: none;
}

.bg-hero-auth {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/public/images/hero.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: auto;
}

.bg-hero-home {
    background-image: url('/public/images/hero.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: auto;
}

.bg-app {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/public/images/bg.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
}

.white-gradient,
.gradient-box:hover {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.50), rgba(255, 255, 255, 0));
}